@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-LibreBold: "LibreBaskerville-Bold", "sans-serif";
  --font-LibreItalic: "LibreBaskerville-Italic", "sans-serif";
  --font-LibreRegular: "LibreBaskerville-Regular", "sans-serif";
  --font-RecoletaRegular: "Recoleta-RegularDEMO", "sans-serif";
  --font-PeachCrushRegular: "peach-crush", "sans-serif";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.clip-home {
  clip-path: path(
    "M477.078 130.45C448.337 111.477 393.16 75.1991 295.471 11.1999C274.779 -2.35627 248.121 -2.77101 227.017 10.1348L31.6106 129.631C12.5958 141.259 1 161.943 1 184.231V458C1 493.346 29.6538 522 65 522H440C475.346 522 504 493.346 504 458V180.737C504 160.375 494.071 141.668 477.078 130.45Z"
  );
}
